
autonomous_robotic_sample_handling/.DS_Store
autonomous_robotic_sample_handling/view/.DS_Store
.idea/*
dist/
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info*
*_autosummary*
docs/build/*
*DS_Store
